/* Home CSS ========================================== */
body {
  /* Typography */
  overflow: scroll;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  /* Visual */
}

a { 
  text-decoration: none;
}

html {
  /* Positioning */
  position: relative;

  background-image: url("/images/deskBackground2.jpeg");
  z-index: -10;

  /* Box-model */
  min-height: 100%;
}

/* add space for fixed nav */
main {
  margin: 80px 0;
}

/* create styles for use for all white main boxes */
.block {
  /* background-color: #fff; */

  padding: 30px;
  margin-bottom: 30px;
}

#joe {
  width: 22em;
  top: 5rem;
  position: absolute;
  left: 3rem;
  z-index: -3;
}

#secure {
  margin-right: -2px;
  color: white;
}

.block-header {
  /* Typography */
  color: #4aaaa5;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
.center-page {
 display: flex;

 width: 100%;
 height: 100%;
 z-index: 0;

 background-image: url("/images/deskBackground2.jpeg");
 /* background-size: auto; */
 align-items: center;
 justify-content: center;
 padding-top: 20px;

 /* border-top: 10px solid black; */
 /* background-repeat: no-repeat; */
}
/* NAV START */
.fullLogo {
  display: flex;
  align-items: center;
}

#logo {
  width: 2.5em;
  height: 2.5em;
}

/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

.nav-item:not(:last-child) {
  margin-right: 4em;
  color: white;
  font-size: larger;
}

.nav-solid {
  background-color: #000000 !important;
}

.user-message {
  position: relative;
  right: 5%;
  font-size: larger;
  color: rgba(245, 245, 245, 0.75);
}

#letterF,
#letterO,
#letterX {
  margin: 0px -4px;
  padding: 0;
}

#letterF {
  color: #feca31;
}

#letterO {
  color: #ee522f;
}

#letterX {
  color: #802327;
}

div#navNameApp {
  font-size: 154%;
}

.nav-item:not(:last-child) {
  margin-right: 3em;
}


#navbarCollapse {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 280px; /*example + never use min-width with this solution */
  height: 100%;
  background: #000;
}

/* media query for nav background color change */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
  }
}

.inside-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  border-style: solid;
  border-width: 2px;

}

/* CONNECT W/ ME CSS */
.connect-header {
  /* Typography */
  font-size: 25px;
}

#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}
/* END CONNECT W/ ME */

/* BEGIN FOOTER */
.footer {
  /* Positioning */
  position: fixed;
  overflow: hidden;
  bottom: 0;

  /* Box-model */
  width: 100%;
  height: 50px;

  /* Visual */
  background-color: black;
}

.text-muted-footer {
  /* Box-model */
  margin-top: 15px;

  /* Typography */
  color: #fff;
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;

  /* Visual */
  /* background-color: #4aaaa5; */
  background-color: black;
}
/* END FOOTER */
nav.sections {
  overflow: hidden;
  display: block;
  float: left;
  width: 82px; height: auto;
  margin-right: 20px;
  background: #3bc1f8;
  box-shadow: 0 1px 1px rgba(78,200,247,.35);
  border-radius: 5px;
  text-align: center;
}
  nav.sections li a {
    display: block;
    width: 100%; height: 82px;
  }
    nav.sections li:hover,
    nav.sections li.active {
      background: #00aced;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
    }
    nav.sections li.notes a,
    nav.sections li.calendar a,
    nav.sections li.settings a {
        background: url('http://ysfu.net/sprite.png') no-repeat;
    }
    nav.sections li.notes a {
      background-position: 25px 25px;
    }
    nav.sections li.calendar a {
        background-position: 25px -57px;
    }
    nav.sections li.settings a {
        background-position: 25px -139px;
    }

/* TurnJS Flipbook =================================== */

textarea {
  background-color:#0000;
  position: inherit;
  top: 0;
  left: 0;
  width: 420px;
  height: 640px;

  padding-top: 2em;
  padding-left: 3em;
  word-wrap: break-word;
  outline:none;
}

.paper {
  /* position: absolute; */
  top: 0;
  left: 0;

  overflow: hidden;
  width: 450px;
  height: 640px;
  background-image: url("/images/lined_paper.png");
  /* background-repeat: repeat; */
  background-size: 180%;
  /* background-position: left; */
}

.rev-paper {
  top: 0;
  left: 0;

  overflow: hidden;
  width: 450px;
  height: 640px;
  background-image: url("/images/rev_lined_paper.png");
  /* background-repeat: repeat; */
  background-size: 180%;
  background-position-x: right;
}

.flipbook{
  overflow: hidden;
  width: 900px;
  height: 640px;
  }

#flipbook .page{
  overflow: hidden;

  width: 450px;
  height: 640px;

  /* background-color:white; */
  line-height: 1em;
  font-size: 1.5em;
  text-align:center;
}

#flipbook .page-wrapper{
  -webkit-perspective:2000px;
  -moz-perspective:2000px;
  -ms-perspective:2000px;
  -o-perspective:2000px;
  perspective:2000px;
}

#flipbook .hard{
  background:#ccc !important;
  color:#333;
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  -o-box-shadow:inset 0 0 5px #666;
  -ms-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
  font-weight:bold;
}

#flipbook .odd{
  background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
  background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  -o-box-shadow:inset 0 0 5px #666;
  -ms-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
  
}

#flipbook .even{
  background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
  background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:linear-gradient(left, #fff 95%, #dadada 100%);
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  -o-box-shadow:inset 0 0 5px #666;
  -ms-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
}
