/* Custome Fonts */
@font-face {
  font-family: "Majestic-Banner-Medium";
  src: url("/fonts/Majesti-Banner/Majesti-Banner-Medium.otf");
}

@font-face {
  font-family: "Fontania";
  src: url("/fonts/fontania/Fontania.ttf");
}

html,
body {
  margin: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  /* min-height: 25rem; */
  width: 100vw;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .myContainer {
  position: relative;
  z-index: 2;
  margin: 0 !important;
  height: 100%;
  width: 100%;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.navbar {
  background-color: transparent !important;
  width: 100vw;
}

#logo {
  width: 5.5em;
  height: 5.5em;
}

#navNameApp {
  font-size: 2em;
  color: white;
  font-family: "Fontania";
  letter-spacing: 0.1em;
}

/* #letterF,
#letterO,
#letterX {
  margin:0;
  padding: 0;
  letter-spacing: -0.1em;
}

#letterF {
  color: #feca31;
}

#letterO {
  color: #ee522f;
}

#letterX {
  color: #802327;
} */

#navbarNav {
  position: relative !important;
  top: -2em !important;
}

.nav-item {
  margin-right: 3em;
}

.fa.fa-home {
  color: #feca31;
}

.introMainContent {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#introTitle {
  text-align: center;
  font-family: "Majestic-Banner-Medium";
  color: white;
  font-size: 5.5em;
}

.downArrow {
  position: absolute;
  left: 50%;
  bottom: 25px !important;
  transform: translate(-50%);
}

.fa-chevron-circle-down {
  z-index: 1;
  color: #feca31;
  font-size: 55px;
  padding: 15px;
}

/* ===================================================== */
.featuresSection {
  padding-top: 10em;
  padding-bottom: 10em;
}

.features {
  text-align: center !important;
  /* margin: 0 1em; */
}

.features .fas,
.features .fab {
  font-size: 4em;
}

.card {
  margin: 0 auto !important;
  border: none;
}

/* ===================================================== */
/* .midPage {
  padding-bottom: 10em;
} */

.midPageRow {
  height: 25em;
}

.midPagePic {
  padding-left: 0 !important;
}

.mockUpSection {
  text-align: center;
}

#laptopMockUp {
  height: 22.5em;
  width: 28.75em;
}

#encryptionPic {
  height: 7em;
  width: 7em;
}

/* ===================================================== */
.transition {
  width: 100vw;
}

/* ===================================================== */
.about-team {
  padding-bottom: 10em;
  padding-top: 2em;
}
.ourTeamTitle {
  text-align: center;
}

.card-profile {
  text-align: center;
  margin: 0 auto;
}

/* .card-avatar {
  border: 1px sol black;
  border-radius: 50px;
} */

.fas.fa-user-tie {
  font-size: 3em;
  border: 1px solid black;
  border-radius: 100px;
  padding: 15px;
}

.fab.fa-instagram,
.fab.fa-github {
  font-size: 1.5em;
}
/* ===================================================== */
footer {
  flex-shrink: 0;
  text-align: center;
  background-color: black;
  height: 8em;
  width: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  font-size: 0.75em;
}

footer a {
  color: #feca31;
}

footer a:hover {
  color: #ee522f;
  text-decoration: none;
}

footer span {
  font-size: 1.2em;
}