<link rel="stylesheet" href="/styles/css/home.css" media="screen" title="no title" charset="utf-8">  

{{!-- AJAX --}}
<script
 src="http://code.jquery.com/jquery-3.3.1.js"
 integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
 crossorigin="anonymous"></script>

<!-- TurnJS -->
<script src="..\js\turnjs4\lib\turn.min.js"></script>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top nav nav-solid">
  <div class="fullLogo">
    <a class="navbar-brand" href="/">
        <img id="logo" src="/images/transparentLogoFox.png">
    </a>
    <div id="navNameApp">
        <span id="secure">Secure</span>
        <span id="letterF">F</span>
        <span id="letterO">o</span>
        <span id="letterX">x</span>
    </div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <hr>
    
    <div class="user">
      Welcome back, <span id="uname">{{username}}</span>
    </div>
    
    <ul class="navbar-nav">
    
      <li class="nav-item">
        <a class="nav-link" href="/#"><i class="fas fa-user"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#"><i class="fas fa-cogs"></i></a>
      </li>
      
    </ul>

  </div>
</nav>

<!-- End of navbar --> 

<!-- Start of container -->
<div class="center-page">
  <input type="submit" value="Save your Journal" method="POST" action="/api/entry">

  {{!-- DO THIS BUT LIKE DYNAMICALLY --}}
  <div class="container" align="center">
    <div id="flipbook" align="center">
      <div class="hard"><img src="/images/grunge_red_journal.jpg" alt="Test" /></div>
      <div class="hard"></div>
      <div><textarea id="firstpage">Example page for typing. Need to style this later.</textarea><img class="paper"/></div>
      <div><textarea>Example page for typing. Need to style this later.</textarea><img class="rev-paper"/></div>
      <div><textarea id="second"></textarea><img class="paper"/></div>
      <div> Static Entry 4 </div>
      <div class="hard"></div>
      <div class="hard"><img src="/images/grunge_red_journal.jpg" alt="Test" /></div>
    </div>

    <script>
      $("#flipbook").turn({
        width: 900,
        height: 640,
        autoCenter: true
      });

      $("input").on("click", (event) => {
        event.preventDefault();
        var uname = $("#uname").text();
      
        var first = $("#firstpage").val();
        $('#second').text(first);
        $("#firstpage").val('');
        
        alert("Attempting to save in db");

        $.ajax({
          type: "POST",
          url: "/api/entry",
          data: {
            entry: first,
            user: uname
          }
       });
     });
    </script>
   
  </div>
</div>

<footer class="footer">
  <div class="two-toned-footer-color"></div>
  <p class="text-muted text-muted-footer text-center">
    © Copyright
  </p>
</footer>
