{{!-- Unique Stylesheet --}}
<link rel="stylesheet" href="/styles/css/home.css" media="screen" title="no title" charset="utf-8">

<!-- TurnJS -->
<script src="..\js\turnjs4\lib\turn.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    {{!-- <div>
      Calendar
    </div> --}}
    <div>
      <a class="navbar-brand" href="/">
        <img id="logo" src="/images/transparentLogoFox.png">
      </a>
    </div>

    <!-- Button on top right of screen with user name, which needs to be filled in from HandleBars template -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{name}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Account Settings</a>
        <a class="dropdown-item" href="#">Help &amp; FAQ</a>
        <a class="dropdown-item" href="/logout">Logout</a>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!-- End of navbar -->

<!-- Start of container -->
<div class="center-page">

  {{!-- DO THIS BUT LIKE DYNAMICALLY --}}
  <div class="container" align="center">
    <div id="flipbook" align="center">
      <div class="hard"><img src="/images/grunge_red_journal.jpg" alt="Test" /></div>
      <div class="hard"></div>
      <div><textarea>Example page for typing. Need to style this later.</textarea><img class="paper"/></div>
      <div><textarea>Example page for typing. Need to style this later.</textarea><img class="rev-paper"/></div>
      <div><textarea>Example page for typing. Need to style this later.</textarea><img class="paper"/></div>
      <div> Static Entry 4 </div>
      <div class="hard"></div>
      <div class="hard"><img src="/images/grunge_red_journal.jpg" alt="Test" /></div>
    </div>

    <script>
      $("#flipbook").turn({
        width: 900,
        height: 640,
        autoCenter: true
      });
    </script>
  </div>

</div>
<!-- End of container -->

<footer class="footer">
  <div class="two-toned-footer-color"></div>
  <p class="text-muted text-muted-footer text-center">
    &copy; Copyright
  </p>
</footer>