<div id="mainWrapper">
  <header id="top">

    <div class="overlay"></div>
    <video id="bg_video" autoplay="autoplay" muted="muted" loop="loop">
      <source src="/videos/JournalVideo.mp4" type="video/mp4">
    </video>

    <div class="myContainer">
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top nav">
        <div class="fullLogo">
          <a class="navbar-brand" href="/">
            <img id="logo" src="/images/transparentLogoFox.png">
          </a>
          <div id="navNameApp">
            <span id="secure">Secure</span>
            <span id="letterF">F</span>
            <span id="letterO">o</span>
            <span id="letterX">x</span>
          </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <hr>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                <i class="fa fa-home"></i>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="introMainContent">
        <h1 id="introTitle">A Secure App For Your Memories</h1>
        <br>
        {{!-- Button --}}
        <div class="col-12 features">
          <button type="button" class="btn btn-warning" href="/signup">Start Your FREE Journal</button>
        </div>
      </div>
      <a href="#whyUs" class="downArrow"><i class="fas fa-chevron-circle-down arrow"></i></a>
    </div>

  </header>

  <main>
    {{!-- Why SECUREFOX --}}
    <section id="whyUs" class="container whyUs">
      <div class="row">
        <div class="col-12">
          <h2>Why SecureFox?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="card-text">Whether you're looking for a tool to record your daily emotions and activities in a
            reflective journal, keep track of milestones or even record your dreams, Secure Fox has you covered.
            We gives you all the tools you need to focus on the ideas you want to preserve, rather than the process of
            writing itself.
          </p>
        </div>
      </div>
    </section>


    {{!-- Features --}}
    <section class="featureBgWrapper">
      <div class="container featureSection">

        <div class="row">
          <div class="col-12">
            <h2>Features</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-4 features">
            <div class="card">
              <i class="fas fa-lock"></i>
              <div class="card-body">
                <h4 class="card-title">100% Private</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>

          <div class="col-4 features">
            <div class="card">
              <i class="fas fa-edit"></i>
              <div class="card-body">
                <h4 class="card-title">Customizable</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>

          </div>

          <div class="col-4 features">
            <div class="card">
              <i class="fab fa-searchengin"></i>
              <div class="card-body">
                <h4 class="card-title">EZ Journal Search</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>


    {{!-- Privacy --}}
    <div class="container privacy">
      <div class="row">
        <div class="col-6">
          <br>
          <h2>Privacy is our #1 Concern</h2>
          <p class="card-text">
            Even when carefully kept, paper journals can be read by anyone who happens upon them. Penzu keeps your
            journals safe with double password protection and military strength encryption so you can rest easy
            knowing
            that your entries are secure in the Penzu Vault.
          </p>
          <br>
          <button type="button" class="btn btn-warning">Let's Get Started</button>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12 mockUpSection">
                  <img id="laptopMockUp" class="img-fluid" src="/images/laptopMockUp.png" alt="">
                </div>
                <div class="col-12 mockUpSection">
                  <img id="encryptionPic" src="/images/256Encryption.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    {{!-- OneMore --}}
    <section class="container testimonial">
      <div class="row">
        <div class="col-4">
          <article>
            <h2>Testimonials</h2>
            <p>
              "Secure Fox is very secure when it comes to privacy, having AES 256 BIT encryption technology is a
              driffrent
              and unique way of keeping my things secure" <br> - Frank
            </p>
          </article>
        </div>
      </div>
    </section>



    {{!-- who we are --}}
    <section class="teamWrapper">

      <div class="about-team">
        <div class="col-12 ourTeamTitle">
          <h2 class="title">Our Team</h2>
          <p class="description">Composed of creative front end and back end developers<br>whose main
            objective is to create with 100% customer satisfaction in mind.</p>
        </div>
      </div>

      <div class="teamContainer">
        <div class="teamMember">
          <div class="card card-profile">
            <div class="card-avatar">
              {{!-- <img class="img" src="assets/img/tenzin.jpg"> --}}
              <i class="fas fa-user-tie"></i>
            </div>

            <div class="card-content">
              <h4 class="card-title">Jose L Saboya</h4>
              <h6>Front End Developer</h6>
              <div class="footer">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-github"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="teamMember">
          <div class="card card-profile">
            <div class="card-avatar">
              {{!-- <img class="img" src="assets/img/tenzin.jpg"> --}}
              <i class="fas fa-user-tie"></i>
            </div>

            <div class="card-content">
              <h4 class="card-title">Farhan Afzal</h4>
              <h6>Back End Developer</h6>
              <div class="footer">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-github"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="teamMember">
          <div class="card card-profile">
            <div class="card-avatar">
              {{!-- <img class="img" src="assets/img/eli.jpg"> --}}
              <i class="fas fa-user-tie"></i>
            </div>

            <div class="card-content">
              <h4 class="card-title">Eliezer Vazquez</h4>
              <h6>Front End Developer</h6>
              <div class="footer">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-github"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="teamMember">
          <div class="card card-profile">
            <div class="card-avatar">
              {{!-- <img class="img" src="assets/img/mafe.jpg"> --}}
              <i class="fas fa-user-tie"></i>
            </div>

            <div class="card-content">
              <h4 class="card-title">Myles Alcala</h4>
              <h6>Back End Developer</h6>
              <div class="footer">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-github"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="teamMember">
          <div class="card card-profile">
            <div class="card-avatar">
              {{!-- <img class="img" src="assets/img/mafe.jpg"> --}}
              <i class="fas fa-user-tie"></i>
            </div>

            <div class="card-content">
              <h4 class="card-title">Frank Vasquez</h4>
              <h6>Front End Developer</h6>
              <div class="footer">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-github"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>

  <footer>
    <div class="container">

      <p class="footerPartA">
        <a href="/" target="_blank">Home</a>
        <span> | </span>
        <a href="#" target="_blank">Login</a>
        <span> | </span>
        <a href="#" target="_blank">SignUp</a>
      </p>
      <P class="footerParB">SecureFox &copy; 2019</P>
    </div>
  </footer>
  
  <div id="back2Top">
    <a href="#top" class=”back-to-top”>
      <i class="fas fa-angle-double-up"></i>
    </a>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/fx.js"></script>
